@font-face {
    font-family: DSEG7Classic;
    src: url(fonts/DSEG7Classic-Italic.woff2);
}

.container {
    width: 100%;
    height: 100%;
    background: aqua;
    display: flex;
    justify-content: center;
}

.frame {
    display: flex;
    justify-content: center;
    position: relative;
    flex-grow: 0;
    border: solid 2px black;
    background: lightgray;
    /*left: calc(50% - (538px + 10%)/2);*/
    /*height: calc( (22px * 40) + 4px);*/
    height: 96vh;
    margin: 2px;
    /*padding-bottom: 4px;*/
    filter: blur(4px);
}

.main {
    position: relative;
    display: grid;
    /*grid-template-rows: repeat(40, 20px);*/
    /*grid-template-columns: repeat(24, 20px);*/
    grid-template-rows: repeat(36, 1fr);
    grid-template-columns: repeat(24, 1fr);
    /*grid-gap: 2px;*/
    width: calc(95vh / 1.5);
    background: lightgray;
    /*border-right: inset 2px black;*/
    padding: 2px;
    overflow: hidden;
    height: 95vh;
    bottom: -0.5%;
}

.panel {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100%;
    background: aquamarine;
    flex-grow: 1;
    border-left: solid black 2px;
}

.ghostGrid {
    position: absolute;
    top: 5px;
    display: grid;
    grid-template-rows: repeat(36, 1fr);
    grid-template-columns: repeat(24, 1fr);
    width: calc(95vh / 1.5);
    left: 0px;
    padding: 2px;
    overflow: hidden;
    height: 95vh;
    bottom: -1%;
    overflow: hidden;
}

.cell {
    position: relative;
    width: auto;
    height: auto;
    outline: solid 2px gray;
    outline-offset: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 4px;
    margin: 1px;
    transform: translateY(0px);
    transition: transform 500ms;
    opacity: 0.1;
}

.cell::after {
    display: inline-block;
    content: "";
    background: gray;
    position: relative;
    width: 100%;
    height: 100%;
}

.score {
    position: absolute;
    align-self: center;
    height: 40px;
    top: 30px;
    /*right: 20px;*/
    user-select: none;
}

.scoreDigit {
    margin: 0px;
    padding: 0px;
}

.scoreLabel {
    font-family: "Arial";
    font-size: 18px;
}

.scoreCount {
    position: absolute;
    font-family: DSEG7Classic;
    font-size: 20px;
    opacity: 1;
    right: 0px;
}

.scorePerf {
    font-family: DSEG7Classic;
    font-size: 20px;
    margin-top: 10px;
    opacity: 0.3;
    margin-right: -4px;
}

.scoreGhost {
    position: absolute;
    font-family: DSEG7Classic;
    font-size: 20px;
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.1);
    right: 0px;
}

.level {
    position: absolute;
    /*right: 20px;*/
    top: 150px;
    align-self: center;
    user-select: none;
}

.levelGhost {
    position: absolute;
    font-family: DSEG7Classic;
    color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    right: 0px;
}

.levelLabel {
    font-family: "Arial";
    font-size: 18px;
}

.levelCount {
    position: absolute;
    font-family: DSEG7Classic;
    font-size: 20px;
    right: 0px;
}

.pause {
    position: absolute;
    top: 350px;
    align-self: center;
    font-family: "Arial";
    font-size: 22px;
    opacity: 0.1;
    user-select: none;
}

.restart {
    position: absolute;
    bottom: 50px;
    font-family: "Arial";
    font-size: 18px;
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
    background: RGBA(0, 0, 0, 0.2);
    align-self: center;
    user-select: none;
}

.restart:hover {
    cursor: pointer;
}



.figure {
    margin: 1px;
    position: relative;
    display: grid;
    flex-wrap: wrap-reverse;
    /*top: 24px;*/
    gap: 2px;
    z-index: 0;
    /*grid-template-rows: 1fr 1fr;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-column-start: 5;*/
    /*grid-column-end: 9;*/
    grid-row-start: 1;
    /*grid-row-end: 1;*/
    transition: all 300ms;
}

.figure-cell {
    position: relative;
    width: auto;
    height: auto;
    outline: solid 2px black;
    outline-offset: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    padding: 4px;
    transform: translateY(0px);
    transition: transform 500ms;
    opacity: 1;
}

.figure-cell::after {
    position: relative;
    /*display: block;*/
    content: "";
    /*width: calc(100% - 4px);*/
    /*height: calc(100% - 4px);*/
    width: 100%;
    height: 100%;
    background: black;
}

.gameOver {
    display: none;
    position: absolute;
    z-index: 2;
    font-size: 24px;
    align-self: center;
}

.welcome {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    z-index: 4;

}

.field {
    position: relative;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    background: white;
    z-index: 5;
    border-radius: 15px;
    flex-direction: column;
}

.start {
    position: relative;
    width: fit-content;
    font-size: 32px;
    background: cornflowerblue;
    padding: 10px;
    border-radius: 15px;
    margin: 40px;
    user-select: none;
}

.welcomeTitle {
    margin-top: 60px;
    font-size: 2em;
}

.toPause {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toPauseImg {
    background-image: url("/imges/arrow.png");
    rotate: 90deg;
    width: 36px;
    height: 36px;
    background-size: contain;
    margin-left: 10px;
}

.toLeftImg {
    background-image: url("/imges/arrow.png");
    width: 36px;
    height: 36px;
    background-size: contain;
    margin-left: 10px;
}

.toMoveLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toRotate {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toRotateImg {
    background-image: url("/imges/space.jpg");
    width: 36px;
    height: 36px;
    background-size: contain;
    margin-left: 10px;
}

.toMoveRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toRightImg {
    background-image: url("/imges/arrow.png");
    rotate: 180deg;
    width: 36px;
    height: 36px;
    background-size: contain;
    margin-left: 10px;
}